.hero_orange{
    background-image:url(/static_img/footer_orange.webp);
    background-repeat: no-repeat;
    .hero_data{
        display: flex;
        flex-direction: column;
        align-items: center;
       border-radius:10px;
       height: 400px;
    }
   
}

.second_section_cards{
    display: flex;
    gap: 30px;
}




.express_card{
    display: flex;
    flex-direction: column;
    background-color: #FDF3F0;
    width: 350px;
    border-radius: 0px 0px 8px 8px;
    color: #E7816B;
    align-items: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    
}
.express_card:hover{
    background-color: #E7816B;
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.express_info{
    color: black;
  
}
.express_info:hover{
    color: #fff;
}


.second_card_row{
    display: flex;
    margin-top: 32px;
    gap: 30px;
}


.couple_cards{
    display: flex;
    gap: 32px;
    margin-top: 160px;
    align-items:center;
    justify-content: center;
}


// 
.hero_orange_third{
    background-image:url(/static_img/footer_orange.webp);
    background-repeat: no-repeat;
    .hero_data{
        display: flex;
        flex-direction: column;
        align-items: center;
       border-radius:10px;
       height: 400px;
       margin-top: 70px;
    }
   
}

h3{
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    text-align: center;
}

.second_card_{
    display: flex;
    flex-direction: column; 
    background-image:url(/static_img/Bitmap_phone.webp);
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: #fff;
    color: #FFF;
   
    
}
.web_design_title{
    text-align: center;
    font-family: 'Jost';
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: left;
}



.fift_hero{
    display: flex;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    color: #FFF;
}

.bcg_img{
    background-image:url(/static_img/fifth_hero_pic.webp);
    background-position:left;
    background-repeat:no-repeat;
    background-size: cover;
    width: 1111px;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
}
.five_title_{
    font-family: Jost;
font-size: 48px;
font-weight: 500;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
color: #E7816B;
}
.five_title_first{
    font-family: Jost;
font-size: 48px;
font-weight: 500;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
}

.fifth_pic{
    border-radius:  0px 10px 10px 0px;
}


.fift_hero_{
   display: flex;
   margin-top: 160px;
   flex-direction: row-reverse;

}
.fifth_paragraph{
    font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
align-items:center;
justify-content: center;
text-align: center;
margin-top: 35px;
}

.fifth_pic_{
    border-radius:  10px 0px 0px 10px;
}
.bcg_img_{
    background-image:url(/static_img/girl_pic.png);
    background-position:left;
    background-repeat:no-repeat;
    background-size: cover;
    width: 1111px;
    height: 650px;
    border-radius: 0px 10px 10px 0px;
}
.country{
    align-items: center;
    text-align: center;
}
.card_country{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}
.name_country{
    font-family: Jost;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 5px;
text-align: center;

}
.fifth_card_buttons{
    padding: 18px 18.5px ;
    color: #FFF;
    font-family: Jost;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 1px;
text-align: center;
border-radius: 10px;
background-color:#E7816B;
border: none;
cursor: pointer;
transition: all 0.4s ease-in-out;
}
.fifth_card_buttons:hover{
    background-color: #E7816B;
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}


.seventh_section{
    display: flex;
    margin-top: 160px;
    flex-direction: row;
    .seventh_title{
        font-family: Jost;
font-size: 40px;
font-weight: 500;
line-height: 48px;
letter-spacing: 0px;
text-align: left;
color: #E7816B;
text-align: center;
align-items: center;
justify-content: center;
    }
    .seventh_paragraph{
        font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
text-align: center;
align-items: center;
justify-content: center;
    }
}
.bcg_image{
    background-image:url(/static_img/girl_pic.png);
    background-position:left;
    background-repeat:no-repeat;
    background-size: cover;
    width: 1111px;
    height: 650px;
    border-radius: 10px 0px 0px 10px;
}
.seventh_pic{
    border-radius: 0px 10px 10px 0px;
}